

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {margin: 0; padding: 0;}

body {
	background-color: rgb(50,122,167);

  font-size: 1.1em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;

}
/*p {
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
}
*/

.title, .subtitle {
	text-align: center;
	background-color: #3293ff;
	color: white;
	border-bottom: none;
	padding: 0;
	margin-bottom: 10px;
}

.title {
	font-size: 3.0em;
}

.subtitle {
	font-size: 1.8em;
}

.strapline {
	text-align: center;
	background-color: white;
	color: black;
	padding: 20px;
}

h1, h2, h3 {
/*	color: #fff;
*/	/*font-family: Arial, "Palatino Linotype", Times, serif;*/
	padding-top: 10px;
	padding-bottom: 5px;
	max-width: 960px;
	margin: 0 auto;
}

h1 {
	font-weight: bold;
	color: black;
	text-align: center;
	letter-spacing: .6rem;
	text-transform: uppercase;
	text-decoration: none;
}

h2 {
	border-bottom: 2px solid rgb(87,185,178);
}

article, form {
	max-width: 960px;
	margin: 0 auto;
}

nav {
	max-width: 1460px;
	margin: 0 auto;
}

form * {
	font-size: 1.1em;
}

.formbutton {
	color: white;
	padding: 20px 40px 20px 40px;
	background-color: rgba(0,255,0,.6);
}

.formbutton:hover {
	background-color: rgba(0,255,0,.9);
}

/*nav {
	font-size: 1.1em;
	line-height: 1.6;
	font-weight: 400;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  max-width: 760px;
  margin: 0 auto;
	padding: 20px 20px 20px 20px;
	background-color: black;
	color: white;

}
nav a {
  -webkit-flex: 1 0 auto;
          flex: 1 0 auto; 
  width: 100%;
  padding: 8px 2%;
  color: white;
  text-align: center;
  font-weight: 600;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-bottom: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; 
	background-color: rgba(255,255,255,.4);
}

nav a:hover, nav a.highlight {
	border-bottom: 3px solid rgb(87,185,178);
}

@media (min-width: 500px) {
  nav {
    -webkit-flex-flow: row nowrap;
            flex-flow: row nowrap;
	-webkit-justify-content: space-around;
	justify-content: space-around;
  }
  nav a {
    -webkit-flex: 1;
            flex: 1;
    margin: 2px;
    border-radius: 4px;
    border: 1px solid #bbb;
  box-sizing: content-box; 
  }
}
*/

header {
  padding: 0;
  background-image: url(../img/artem-sapegin-176819.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.projectitem {
	display: -webkit-flex;
	display: -flex;
    -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
}

.projectitem div:nth-of-type(1) {
	-webkit-flex: 1 1 166px;
			flex: 1 1 166px;
	margin: 10px;
}

.projectitem div:nth-of-type(2) {
	-webkit-flex: 2 1 333px;
			flex: 2 1 333px;
	margin: 10px;
}

.projectitem img {
	width: 100%;
	height: auto;
}

.socialmedia {
	background-color: rgb(255,255,255);
	color: black;
	font-size: 3em;
	text-align: center;
}

.services, .about, .articles {
	background-color: rgb(240,240,240);
	color: black;
}

.portfolio, .skills, .hobbies, .blog {
	background-color: rgb(250,250,250);
	color: black;
}

.services ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: -webkit-flex;
	display: -flex;
    -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
}

.services ul li {
	-webkit-flex: 1 1 166px;
			flex: 1 1 166px;
	margin: 5px;
	background-color: rgba(255,255,255,.6);
	color: #3293ff;
}

nav {
	padding: 20px 0 20px 0;
	background-color: rgba(255,255,255,.6);

	display: -webkit-flex;
	display: -flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

nav a {
	font-size: 1.1em;
	font-weight: bold;
	width: 18%;
	padding-top: 4px;
	padding-bottom: 4px;
	color: black;
	text-align: center;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
}

nav a:hover, nav a.highlight {
	border-bottom: 3px solid rgb(87,185,178);
}














